# Dependencias
node_modules/
**/node_modules/

# Variables de entorno
.env
**/.env
.env.local
.env.production

# Prisma
**/generated/prisma

# Build del frontend
dist/
**/dist/

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db